.bottom-margin {
    margin-bottom: 10vh;
}

#delphx-title {
    color: rgb(250, 250, 250);
    margin:50px 0 20px 0;
    max-width: 1300px;
    width: 90vw;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    @media (max-width:900px){
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
  }
  
    h1 {
        font-size:6.5em;
        @media (max-width:900px){
          padding-left: 20px;
          font-size: 3em;
          }
      }
    h2 {
      position: relative;
      font-size:2.5em;
      padding-left: 20px;
      top:20px;
      @media (max-width:900px){
        font-size: 1.5em;
    }
    }
  }
.delphx-picture {
    margin-top:10vh;
    height:38vw;
    
    width:83vw;
    max-width: 1300px;
    background: rgb(121, 121, 121);
    background-image: url('/img/delphx1.png');
    background-size: cover;
    z-index: 0;
}