.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 100%;
padding-left: 5.5vw;
  img {
    width: 45%;
  }
  @media (min-height: 1200px) {
    min-height: 80vh;
  }
}

.landing-caption {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}
.text {
    // padding: 20px;
     h1 {
      font-size: 550%;
      font-weight: 700;
      min-width: 360px;

     }
     h2 {
       font-size: 130%;
       width: 600px;
       font-weight: 290;
       strong {
         font-weight: 600;
       }
     }
}