.navbar {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: transparent!important
  }
  
  .navbar-brand img{
    height:2rem;
  }
  
  .navbar-nav li{
    padding-right: .7rem;
  }
  
  .navbar-dark .navbar-nav {
    color:white;
    padding-top: .8rem;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    background: -webkit-linear-gradient(#FE6B8B, #FF8E53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

