.icon-bar {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    border-radius: 5px 0 0 5px;
    height: 250px;
    width: 50px;
    background: linear-gradient(45deg, rgba(5,166,148,1) 0%, rgba(122,203,191,1) 100%);
    .contact-item {
        position: relative;
        
        left: 0px;
        font-size: 30px;
    }
}

.contact-panel {
    padding: 10px ;
    padding-left: 20px;
    display: flex;
    color: rgb(54, 54, 54);
    justify-content: space-around;
    flex-direction: column;
    height: 250px;
    width:450px;
    background: rgb(226, 226, 226);
    text-align: left;
    border-radius: 0 5px 5px 0;
    font-weight: 200px;
    h3 {
        position: relative;
        top:6px;
    }
}

.profile-picture {
    margin-right: 20px;
    margin-bottom: 5vh;
    height: 350px;
    width: 350px;
    border: none;
    background-size: cover;
    background-repeat: none;
    img {
        width: 100%;
        height:100%;
        object-fit: cover;
    border-radius: 5px;

    }
}

.stack-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    width:100%;
    h1 {
        text-align: left;
        font-size: 40px;
        font-weight: 700;
    }
    h2 {
        text-align: left;
    }
}   

.horizontal-stack {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}
#side-bar {
    width: 3px;
    height: 89px;
    background: white;
    margin: 5px 10px 5px 0;
}


#center {
    display: flex;
    align-items: center;
  height: 15vh;
}

.stack-on-top {
    @media (max-width: 900px) {
        display: flex;
       flex-direction: column;
    }
}