.navbar {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgb(40,44,52);
    z-index: 3;
  }

  .navbar-brand img{
    height:2rem;
  }
  
  .navbar-nav li{
    padding-right: .7rem;
  }
  
  .navbar-dark .navbar-nav {
    color:white;
    padding-top: .8rem;
  }
  

  .navbar-dark .navbar-nav .nav-link:hover {
    background: -webkit-linear-gradient(#FE6B8B, #FF8E53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }


  .navbar-dark .navbar-nav #blue:hover {
    background: linear-gradient(45deg, rgb(92, 108, 255) 0%, rgba(144,141,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar-dark .navbar-nav #green:hover {
    background: linear-gradient(45deg, rgba(5,166,148,1) 0%, rgba(122,203,191,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar-dark .navbar-nav #resume:hover {
    background: -webkit-linear-gradient(rgb(254, 190, 107), rgb(255, 215, 83));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar-dark .navbar-nav #about:hover {
    background: -webkit-linear-gradient(rgb(254, 190, 107), rgb(255, 223, 83));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
